*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  color: #ffffff;
  background-color: #832219;
  font-family: "Alexandria", serif;
  font-weight: 900;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .peppe img {
  border-radius: 50%;
  max-width: 65px;
  min-width: 45px;
}

header .peppe {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 20px;
}

header a {
  background-color: #c94b43;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 6px;
  padding-top: 6px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
}

main {
  background-color: #d7d6d6;
  height: 88.5vh;
  background-image: url("../img/pettis.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 20%;
}

main h1 {
  font-family: "Alexandria", serif;
  font-weight: 900;
  color: #1c1616;
  font-size: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main h1 strong {
  font-family: "Alexandria", serif;
  font-weight: 900;
  color: #c94b43;
}

main img.flip {
  transform: scaleX(-1);
}

main a {
  color: #ffffff;
  background-color: #C94B43;
  border-radius: 20px;
  font-family: "Alexandria", serif;
  font-weight: 800;
  text-decoration: none;
  font-size: 70px;
  padding-right: 35px ;
  padding-left: 35px;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: center;
  box-shadow: -103px 182px 59px 0px rgba(0, 0, 0, 0.00), -66px 116px 54px 0px rgba(0, 0, 0, 0.01), -37px 66px 45px 0px rgba(0, 0, 0, 0.05), -16px 29px 33px 0px rgba(0, 0, 0, 0.09), -4px 7px 18px 0px rgba(0, 0, 0, 0.10);
}

main a:hover {
    color: #C94B43;
    background-color: #ffffff;
    transition: all 0.5s ease-in-out;  
}